:root {
	--text-color: #eeeef2;
	--text-color-darker: #d6d6da;
	--text-color-darkest: #5f5f61;

	--background-color: #151515;
	--background-color-lighter: #1e1e1e;
	--background-color-lightest: #4b4b4b;
	--highlight-color: #fe240b;

	--coooooler: #ffd401;
}