.songs {
	display: flex;
	flex-direction: column;
}

.songs__header-container,
.songs__song {
	display: grid;
	grid-template-columns: 0.1fr repeat(4, 1fr);
}

.songs__header-container {
	background-color: rebeccapurple;
	font-size: 4rem;
	height: 6rem;
}

.songs__song {
	align-items: center;
	width: 100%;
	border: none;
	background-color: inherit;
}

.songs__song-cover {
	width: 10rem;
	height: 10rem;
}

.songs__song-cover img{
	width: 100%;
	height: auto;
	display: block;
}

.songs__play-button {
	width: 5rem;
	height: 5rem;
}

.songs__container {
	height: calc(100vh - (10rem + 6rem));
	overflow: scroll;
}

.songs__controllers-controller {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.songs__controller-container {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.songs__shuffle-button,
.songs__previous-button,
.songs__next-button, 
.songs__repeat-button {
	width: 2.5rem;
	height: 2.5rem;
}

.songs__play-button,
.songs__shuffle-button,
.songs__previous-button,
.songs__next-button, 
.songs__repeat-button,
.songs__mute-button {
	filter: invert(96%) sepia(7%) saturate(79%) hue-rotate(202deg) brightness(99%) contrast(94%);
	transition: all 0.1s ease-in;
}

.songs__play-button:hover,
.songs__shuffle-button:hover,
.songs__previous-button:hover,
.songs__next-button:hover, 
.songs__repeat-button:hover {
	transform: scale(1.03);
}

.songs__play-button:active,
.songs__shuffle-button:active,
.songs__previous-button:active,
.songs__next-button:active, 
.songs__repeat-button:active {
	transform: scale(1);
}


.songs__button--active {
	filter: invert(20%) sepia(96%) saturate(3879%) hue-rotate(357deg) brightness(101%) contrast(99%);
}

.songs__controllers {
	display: grid;
	grid-template-columns: 1.5fr 4fr 1.5fr;
	align-items: center;
	column-gap: 2rem;
	height: 10rem;
	background-color: var(--background-color);
}

.songs__timeline-range,
.songs__volume-range {
	appearance: none;
	background-color: var(--text-color-darkest);
	width: 100%;
	height: 0.5rem;
	border-radius: 1rem;
	cursor: pointer;
}


.songs__timeline-range::-webkit-slider-thumb,
.songs__volume-range::-webkit-slider-thumb {
	appearance: none;
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	background-color: var(--text-color);
}


.songs__time {
	width: 100%;
	display: flex;
	gap: 2rem;
	padding: 0 1rem;
}

.songs__timeline-container {
	flex-grow: 1;
}

.songs__timeline-range {
	width: 100%;
}

.songs__timestamp-current-time,
.songs__timestamp-duration {
	width: 4rem;
}

.songs__current-song-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	margin-left: 1rem;
}

.songs__current-song-cover {
	width: 10rem;
	height: 10rem;
}

.songs__current-song-cover img {
	width: 100%;
	height: 100%;
	display: block;
}

.songs__current-song {
	display: flex;
}

.songs__mute-button {
	width: 2.5rem;
	height: 2.5rem;
}

.songs__volume-mute-container {
	justify-self: end;
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-right: 3rem;
}

.songs__volume-container {
	display: flex;
	align-items: center;
	width: 15rem;
}