.songs {
	display: flex;
	flex-direction: column;
}

.songs__header-container,
.songs__song {
	display: grid;
	grid-template-columns: 0.1fr repeat(4, 1fr);
}

.songs__header-container {
	background-color: rebeccapurple;
	font-size: 4rem;
}

.songs__song {
	align-items: center;
	width: 100%;
	border: none;
	background-color: inherit;
}

.songs__song-cover {
	width: 10rem;
	height: 10rem;
}

.songs__song-cover img{
	width: 100%;
	height: auto;
	display: block;
}

.songs__controllers {
	background-color: rebeccapurple;
}


.songs__time {
	width: 100%;
	display: flex;
	gap: 2rem;
	padding: 0 1rem;
}

.songs__timeline-container {
	flex-grow: 1;
}

.songs__timeline-range {
	width: 100%;
}

.songs__timestamp-current-time,
.songs__timestamp-duration {
	width: 4rem;
}

.songs__current-song-cover {
	width: 20rem;
	height: 20rem;
}

.songs__current-song-cover img {
	width: 100%;
	height: auto;
	display: block;
}

.songs__current-song {
	display: flex;
}