.audio-player {
	display: grid;
	grid-template-columns: 1.5fr 4fr 1.5fr;
	align-items: center;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	column-gap: 2rem;
	height: 10rem;
	background-color: var(--background-color);
}

.audio-player__current-song {
	display: flex;
}

.audio-player__cover {
	width: 8rem;
	height: 8rem;
	aspect-ratio: 1 / 1;
	margin-left: 1rem;
}

.audio-player__cover img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: contain;
}

.audio-player__names-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	margin-left: 1rem;
}

.audio-player__main-controllers {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.audio-player__main-controllers-top {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.audio-player__shuffle-button,
.audio-player__previous-button,
.audio-player__next-button, 
.audio-player__repeat-button {
	width: 2.5rem;
	height: 2.5rem;
}

.audio-player__play-button,
.audio-player__shuffle-button,
.audio-player__previous-button,
.audio-player__next-button, 
.audio-player__repeat-button,
.audio-player__mute-button {
	filter: invert(96%) sepia(7%) saturate(79%) hue-rotate(202deg) brightness(99%) contrast(94%);
	transition: all 0.1s ease-in;
}

.audio-player__play-button:hover,
.audio-player__shuffle-button:hover,
.audio-player__previous-button:hover,
.audio-player__next-button:hover, 
.audio-player__repeat-button:hover {
	transform: scale(1.03);
}

.audio-player__play-button:active,
.audio-player__shuffle-button:active,
.audio-player__previous-button:active,
.audio-player__next-button:active, 
.audio-player__repeat-button:active {
	transform: scale(1);
}

.audio-player__play-button {
	width: 5rem;
	height: 5rem;
}

.audio-player__timeline-range,
.audio-player__volume-range {
	appearance: none;
	background-color: var(--text-color-darkest);
	width: 100%;
	height: 0.5rem;
	border-radius: 1rem;
	cursor: pointer;
}

.audio-player__timeline-range::-webkit-slider-thumb,
.audio-player__volume-range::-webkit-slider-thumb {
	appearance: none;
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	background-color: var(--text-color);
}

.audio-player__main-controllers-bottom {
	width: 100%;
	display: flex;
	gap: 2rem;
	padding: 0 1rem;
}

.audio-player__timeline-container {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.audio-player__timeline-range {
	width: 100%;
}

.audio-player__current-time,
.audio-player__duration {
	width: 4rem;
}

.audio-player__mute-button {
	width: 2.5rem;
	height: 2.5rem;
}

.audio-player__volume-controllers {
	justify-self: end;
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-right: 3rem;
}

.audio-player__volume-container {
	display: flex;
	align-items: center;
	width: 15rem;
}

.audio-player__button--active {
	filter: var(--highlight-color-filter);
}

.audio-player__close-mobile-player-button {
	background: none;
	display: none;
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 4rem;
	height: 4rem;
}

.audio-player__close-mobile-player-button img {
	width: 100%;
	height: 100%;
	filter: var(--highlight-color-filter);
}

@media only screen and (max-width: 900px) {
	.audio-player {
		grid-template-columns: 1.5fr 3fr 1fr;
		gap: 0;
	}

	.audio-player__names-container {
		font-size: 1.5rem;
	}

	.audio-player__volume-controllers,
	.audio-player__main-controllers {
		transform: scale(0.8);
	}

	.audio-player__volume-controllers {
		margin: 0;
		transform: scale(0.8);
	}
}

@media only screen and (max-width: 750px) {
	.audio-player {
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 999;
		transition: 0.3s height;
		cursor: pointer;
	}

	.audio-player--open {
		display: flex;
		flex-direction: column;
		height: 100%;
		cursor: unset;
	}

	.audio-player__main-controllers-top {
		margin-right: 2rem;
	}

	.audio-player__volume-controllers,
	.audio-player__main-controllers {
		transform: unset;
	}

	.audio-player--open 	.audio-player__main-controllers {
		order: 1;
		width: 100%;
		padding: 1rem;
		margin-bottom: 2rem;
	}

	.audio-player--open .audio-player__main-controllers-bottom {
		display: flex;
	}


	.audio-player--open .audio-player__volume-container {
		width: 100%;
	}

	.audio-player--open .audio-player__volume-controllers {
		display: flex;
		padding: 1rem;
		width: 50%;
		order: 0;
		margin-bottom: 2rem;
	}
	
	.audio-player__shuffle-button,
	.audio-player__previous-button,
	.audio-player__next-button,
	.audio-player__repeat-button,
	.audio-player__volume-controllers,
	.audio-player__main-controllers-bottom {
		display: none;
	}

	.audio-player--open .audio-player__shuffle-button,
	.audio-player--open .audio-player__previous-button,
	.audio-player--open .audio-player__next-button,
	.audio-player--open .audio-player__repeat-button {
		display: unset;
	}

	.audio-player--open .audio-player__current-song {
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		flex-grow: 1;
		width: 100%;
	}

	.audio-player--open .audio-player__cover {
		flex-grow: 1;
		width: 100%;
		padding: 2rem;
		margin: 0;
	}

	.audio-player--open .audio-player__names-container {
		margin: 0;
		margin-bottom: 1rem;
	}

	.audio-player--open .audio-player__title,
	.audio-player--open .audio-player__artist {
		text-align: center;
	}
	
	.audio-player--open .audio-player__close-mobile-player-button {
		display: block;
	}
}

@media only screen and (max-width: 500px) {
	.audio-player--open .audio-player__volume-controllers {
		width: 80%;
	}

	.audio-player--open .audio-player__main-controllers-top {
		margin: 0;
	}
}