.context-menu {
	position: absolute;
	top: 0;
	width: 20rem;
	background-color: var(--text-color);
	color: var(--background-color-lighter);
	display: none;
	z-index: 999;
	list-style: none;
}

.context-menu li {
	list-style: none;
}

.context-menu ul {
	display: flex;
	flex-direction: column;
	height: 25rem;
	overflow-y: scroll;
}

.context-menu--open {
	display: block;
}

.context-menu__header {
	position: relative;
	font-size: 2rem;
	padding-bottom: 1rem;
	pointer-events: none;
	padding: 1rem;
}

.context-menu__header::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url('/assets/svg/arrow-down.svg');
	background-repeat: no-repeat;
	background-position: 87%;
	background-size: 3rem;
	filter: var(--background-color-lighter-filter);
}

.context-menu__delete-song-button {
	display: none;
	width: 100%;
	text-align: start;
	padding-bottom: 1rem;
	border-bottom: solid 1px var(--background-color);
	padding: 1rem;
}

.context-menu__delete-song-button--active {
	display: block;
}

.context-menu__item {
	width: 100%;
	text-align: start;
	padding: 1rem;
}

.context-menu__item:hover,
.context-menu__delete-song-button:hover {
	background-color: var(--text-color-darker);
}

@media only screen and (max-width: 500px) {
	.context-menu {
		width: 15rem;
	}

	.context-menu__header {
		font-size: 1.5rem;
	}

	.context-menu__header::before {
		background-size: 2rem;
	}

	.context-menu ul {
		height: 20rem;
	}

	.context-menu li {
		font-size: 1.5rem;
	}
}