.songs__context-menu {
	position: absolute;
	top: 0;
	width: 20rem;
	height: 30rem;
	background-color: var(--text-color);
	color: var(--background-color-lighter);
	display: none;
	z-index: 999;
	list-style: none;
	overflow-y: scroll;
}

.songs__context-menu--open {
	display: block;
}

.songs__context-menu li {
	list-style: none;
}

.songs__context-menu-header {
	font-size: 2rem;
	padding-bottom: 1rem;
	pointer-events: none;
	padding: 1rem;
}

.songs__context-menu-item {
	width: 100%;
	text-align: start;
	padding: 1rem;
}

.songs__context-menu-item:hover,
.songs__context-delete-song:hover {
	background-color: var(--text-color-darker);
}

.songs__context-menu ul {
	display: flex;
	flex-direction: column;
}

.songs__context-delete-song {
	display: none;
	width: 100%;
	text-align: start;
	padding-bottom: 1rem;
	border-bottom: solid 1px var(--background-color);
	padding: 1rem;
}

.songs__context-delete-song--active {
	display: block;
}