.header__container {
	display: grid;
	grid-template-columns: 1fr 3fr 10fr 10fr 4fr 2fr;
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 2.5rem;
	height: 6rem;
}

.header__number {
	font-size: 2rem;
	align-self: center;
	justify-self: center;
	pointer-events: none;
	user-select: none;
}

.header__category-button {
	display: flex;
	align-items: center;
	text-align: start;
}

.header__category-button-title {
	grid-column: 3 / 4;
}

.header__button-arrow {
	display: none;
	width: 2rem;
	height: 2rem;
	margin-left: 1rem;
	filter: var(--highlight-color-filter);
}

.header__button-arrow--visible {
	display: flex;
}

.header__playlist-button {
	width: 4rem;
	height: 4rem;
	align-self: center;
	justify-self: flex-end;
	margin-right: 2rem;
}

.header__playlist-button img {
	width: 100%;
	height: auto;
	filter: invert(96%) sepia(7%) saturate(79%) hue-rotate(202deg) brightness(99%) contrast(94%);
}

@media only screen and (max-width: 600px) {
	.header__container {
		grid-template-columns: 8rem 10fr 10fr 0.1fr;
	}

	.header__category-button-title {
		grid-column: 2 / 3;
	}

	.header__number,
	.header__category-button-duration  {
		display: none;
	}
}