.music-player-container {
	overflow: hidden;
}

.music-player {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	width: 100%;
	transition: transform 0.3s ease-in;
}

.music-player__playlist-open {
	transform: translateX(-33vw);
}

@media only screen and (max-width: 750px) {
	.music-player {
		width: 100vw;
	}

	.music-player__playlist-open {
		transform: translateX(-80vw);
	}
}