.playlists {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 33vw;
	height: 100vh;
	top: 0;
	right: 0;
	background-color: var(--text-color);
	transform: translateX(33.1vw);
	color: var(--background-color-lighter);
}

.playlists__container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-size: 2rem;
	overflow-y: overlay;
}

.playlists__container::-webkit-scrollbar {
	appearance: none;
	width: 1rem;
} 

.playlists__container::-webkit-scrollbar-track {
	background-color: var(--text-color);
}

.playlists__container::-webkit-scrollbar-thumb {
	background-color: var(--text-color-darkest)
}

.playlists__playlist {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: start;
	padding: 1.5rem 3rem;
}

.playlists__playlist:hover {
	background-color: var(--text-color-darker);
}

.playlists__playlist:not(:last-child) {
	border-bottom: solid 1px rgba(0, 0, 0, 0.309);
	border-width: 80%;
}

.playlists__playlist:first-child {
	border-bottom: solid 1px #000;
}

.playlist__add-playlist-button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	gap: 2rem;
	padding: 1.5rem 3rem;
	border: solid #000;
	margin: 3rem 3rem 1rem 3rem;
	transition: all 0.2s;
}

.playlist__add-playlist-button:hover {
	background-color: var(--background-color-lighter);
	color: var(--text-color);
}

.playlist__add-playlist-button:hover .playlist__add-playlist-button-icon img {
	filter: invert(96%) sepia(7%) saturate(79%) hue-rotate(202deg) brightness(99%) contrast(94%);
}

.playlist__add-playlist-button-icon {
	width: 4rem;
	height: 4rem;
}

.playlist__add-playlist-button-icon img {
	width: 100%;
	height: auto;
}

.playlist__playlist-delete-button {
	width: 3rem;
	height: 3rem;
}

.playlist__playlist-delete-button img {
	width: 100%;
	height: auto;
}

.playlists__playlist:first-child .playlist__playlist-delete-button {
	display: none;
}

@media only screen and (max-width: 1300px) {
	.playlist__add-playlist-button-icon {
		width: 3rem;
		height: 3rem;
	}

	.playlist__add-playlist-button {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 1100px) {
	/* .playlist__add-playlist-button-icon {
		width: 2rem;
		height: 2rem;
	} */

	.playlist__add-playlist-button {
		font-size: 1.8rem;
	}
}

@media only screen and (max-width: 900px) {
	.playlists__playlist {
		font-size: 1.5rem;
	}

	.playlist__playlist-delete-button {
		width: 2rem;
		height: 2rem;
	}
}


@media only screen and (max-width: 750px) {
	.playlists {
		width: 80vw;
		transform: translateX(80.1vw);
	}
}