.music-player-cotainer {
	overflow: hidden;
}

.music-player {
	display: flex;
	flex-direction: column;
	position: relative;
	transition: transform 0.3s ease-in;
	height: 100vh;
}

.music-player__playlist-open {
	transform: translateX(-33vw);
}

.songs {
	position: relative;
	height: calc(100vh - 6rem);
	overflow-y: overlay;
	margin-bottom: 10rem;
}

.songs::-webkit-scrollbar {
	appearance: none;
	width: 1rem;
}

.songs::-webkit-scrollbar-track {
	background-color: var(--background-color-lighter);
}

.songs::-webkit-scrollbar-thumb {
	background-color: var(--background-color)
}

.songs__no-songs-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4rem;
	color: var(--highlight-color);
}

.songs__song {
	display: grid;
	grid-template-columns: 1fr 3fr 10fr 10fr 4fr 2fr;
	text-align: start;
	align-items: center;
	width: 100%;
	border: none;
	font-size: 1.5rem;
	color: var(--text-color);
	background-color: var(--background-color-lighter);
	z-index: 0;
}

.songs__song-number {
	text-align: center;
}

.songs__song--active {
	color: var(--highlight-color);
}

.songs__add-to-playlist-button {
	display: none;
	justify-self: flex-end;
	width: 4rem;
	height: 4rem;
	margin-right: 3rem;
	z-index: 100;
}

.songs__song:hover .songs__add-to-playlist-button {
	display: block;
}

.songs__add-to-playlist-button img {
	width: 100%;
	height: auto;
	filter: invert(96%) sepia(7%) saturate(79%) hue-rotate(202deg) brightness(99%) contrast(94%);
}

.songs__song:hover {
	background-color: var(--background-color-lightest);
}

.songs__song-cover {
	width: 6rem;
	height: 6rem;
}

.songs__song-cover img{
	width: 100%;
	height: auto;
	display: block;
}

.songs__playlist-title {
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 2rem 4rem;
	margin-bottom: 2rem;
	border-bottom: solid 1px var(--background-color);
}

.songs__playlist-rename-button {
	width: 4rem;
	height: 4rem;
}

.songs__playlist-title-input {
	font-size: 4rem;
	width: 40rem;
	background-color: inherit;
	border: none;
	color: inherit;
}


@media only screen and (max-width: 750px) {
	.music-player {
		height: 100vh;
		width: 100vw;
		/* overflow: hidden; */
	}

	.songs__song {
		grid-template-columns: 8rem 10fr 10fr 0.1fr;
	}

	.music-player__playlist-open {
		transform: translateX(-80vw);
	}

	.songs {
		height: calc(100vh - 6rem);
		overflow-x: hidden;
	}

	.songs__song-number,
	.songs__song-duration {
		display: none;
	}

	.songs__add-to-playlist-button {
		display: block;
	}
}