.songs {
	display: flex;
	flex-direction: column;
	position: relative;
	transition: transform 0.3s ease-in;
}

.songs--playlist-open{
	transform: translateX(-33vw);
}

.songs__header-container,
.songs__song {
	display: grid;
	grid-template-columns: 0.1fr repeat(4, 1fr);
}

.songs__playlist-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	background-color: rebeccapurple;
}

.songs__header-container {
	background-color: var(--background-color-lighter);
	color: var(--text-color);
	font-size: 4rem;
	height: 6rem;
}

.songs__song {
	align-items: center;
	width: 100%;
	border: none;
	font-size: 2rem;
	color: var(--text-color);
	background-color: var(--background-color-lighter);
}

.songs__song:hover {
	background-color: var(--background-color-lightest);
}

.songs__song-cover {
	width: 10rem;
	height: 10rem;
}

.songs__song-cover img{
	width: 100%;
	height: auto;
	display: block;
}

.songs__container {
	height: calc(100vh - (10rem + 6rem));
	overflow: scroll;
}

.songs__button--active {
	filter: invert(20%) sepia(96%) saturate(3879%) hue-rotate(357deg) brightness(101%) contrast(99%);
}