.songs {
	display: flex;
	flex-direction: column;
	position: relative;
	transition: transform 0.3s ease-in;
}

.songs--playlist-open{
	transform: translateX(-33vw);
}

.songs__header-container,
.songs__song {
	display: grid;
	grid-template-columns: 0.1fr repeat(5, 1fr);
}

.songs__playlist-button {
	width: 6rem;
	height: 6rem;
	align-self: center;
	justify-self: flex-end;
	margin-right: 2rem;
}

.songs__playlist-button img {
	width: 100%;
	height: auto;
	filter: invert(96%) sepia(7%) saturate(79%) hue-rotate(202deg) brightness(99%) contrast(94%);
}

.songs__header-container {
	background-color: var(--background-color-lighter);
	color: var(--text-color);
	font-size: 4rem;
	height: 6rem;
}

.songs__song {
	align-items: center;
	width: 100%;
	border: none;
	font-size: 2rem;
	color: var(--text-color);
	background-color: var(--background-color-lighter);
	z-index: 0;
}

.songs__add-to-playlist-button {
	width: 4rem;
	height: 4rem;
	justify-self: flex-end;
	margin-right: 3rem;
	z-index: 100;
	display: none;
}

.songs__song:hover .songs__add-to-playlist-button {
	display: block;
}

.songs__add-to-playlist-button img {
	width: 100%;
	height: auto;
	filter: invert(96%) sepia(7%) saturate(79%) hue-rotate(202deg) brightness(99%) contrast(94%);
}

.songs__song:hover {
	background-color: var(--background-color-lightest);
}

.songs__song-cover {
	width: 10rem;
	height: 10rem;
}

.songs__song-cover img{
	width: 100%;
	height: auto;
	display: block;
}

.songs__container {
	position: relative;
	height: calc(100vh - (10rem + 6rem));
	overflow: scroll;
}

/* No Songs In Playlist Message */
.songs__no-songs-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4rem;
	color: var(--highlight-color);
}